#Class=RealName Default Interface[ Simple]
\LCMS\Core\XML=\LCMS\Core\LXML \LCMS\Core\LXML \LCMS\Core\IXML \LCMS\Core\LXML
\LCMS\Core\TagStripper=\LCMS\Core\LTagStripper \LCMS\Core\LTagStripper \LCMS\Core\ITagStripper \LCMS\Core\LTagStripper
\LCMS\Core\PageLog=\LCMS\Core\LPageLog \LCMS\Core\LPageLog \LCMS\Core\IPageLog \LCMS\Core\LPageLog
\LCMS\Core\AllowedTags=\LCMS\Core\LAllowedTags \LCMS\Core\LAllowedTags \LCMS\Core\IAllowedTags \LCMS\Core\LAllowedTags
\LCMS\Core\Page=\LCMS\Core\LPage \LCMS\Core\LPage \LCMS\Core\IPage \LCMS\Core\LPage
\LCMS\Core\User=\LCMS\Core\LUser \LCMS\Core\LUser \LCMS\Core\IUser \LCMS\Core\LUser
\LCMS\Core\Pattern=\LCMS\Core\LPattern \LCMS\Core\LPattern \LCMS\Core\IPattern \LCMS\Core\LPattern

