#Class=RealName Default Interface[ Simple]
\LCMS\Core\LXML=\LCMS\Core\LXML \LCMS\Core\LXML \LCMS\Core\ILXML
\LCMS\Core\TagStripper=\LCMS\Core\TagStripper \LCMS\Core\TagStripper \LCMS\Core\ITagStripper
\LCMS\Core\PageLog=\LCMS\Core\PageLog \LCMS\Core\PageLog \LCMS\Core\IPageLog
\LCMS\Core\AllowedTags=\LCMS\Core\AllowedTags \LCMS\Core\AllowedTags \LCMS\Core\IAllowedTags
